.timeslot {
  color: #989898;
  font-family: Arial;
  font-size: 1em;
  text-align: center;
  height: 2.43em;
  line-height: 34px;
  justify-content: space-between;
  border: 1px solid #c4c4c4;
  border-right: none;
  display: flex;
  row-gap: 1px;
  padding-bottom: 5px;
}
