/* css for week.js */
.calendar-container {
  margin: auto;
  float: right;
  margin-bottom: 10px;
  background-color: #eeeeee;
}

.month-text {
  margin-left: 0.5em;
  margin-bottom: 0.25em;
  margin-top: 0.25em;
  font-size: 5em;
  font-family: Open Sans, sans-serif;
  color: #5e5e5e;
}

.week-container {
  margin: auto;
  float: right;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  overflow: scroll;
  overflow-x: hidden;
  height: 600px;
}

.time-label-tag {
  border: 1px solid #c4c4c4;
  border-right: none;
  height: 4em;
  display: flex;
  flex-shrink: 0;
  justify-content: space-around;
  align-items: center;
  font-size: 2em;
  font-family: Arial;
  color: #989898;
  padding-bottom: 0.5em;
}

.time-labels-container {
  display: flex;
  flex-direction: column;
}
