/* css for week.js */

.calendarContainer {
  margin: auto;
  margin-left: 0;
  float: right;
  background-color: #eeeeee;
  width: 100%;
}

.monthText {
  margin-left: 0.5em;
  margin-bottom: 0.25em;
  margin-top: 0.25em;
  font-size: 5em;
  font-family: Open Sans, sans-serif;
  color: #5e5e5e;
}

.weekContainer {
  margin: auto;
  float: right;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  margin-left: 0;
  overflow: scroll;
  height: 600px;
  width: 100%;
}

.timeLabelTag {
  border: 1px solid #c4c4c4;
  height: 8em;
  display: flex;
  flex-shrink: 0;
  justify-content: space-around;
  font-size: 1em;
  color: #989898;
  padding-bottom: 0.5em;
  position: sticky;
  top: 0;
  background-color: #eeeeee;
}

.timeLabelsContainer {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
