/* css for home.js */

.page {
  display: flex;
  flex-direction: column;
  float: right;
  width: 100%;
}

.nav {
  padding: 10px;
}

.calendar {
  display: flex;
  flex-direction: row;
  width: 100%;
}
