/* css for log-in-panel.js */
.panel {
  background-color: #c4c4c4;
  height: 42em;
  width: 30em;
  border-radius: 2em;
}

.title {
  color: white;
  font-size: 4em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.form {
  display: flex;
  flex-direction: column;
}

.formLabel {
  text-align: center;
  color: white;
  font-size: 2em;
  margin-bottom: 0.5em;
}

.formInput {
  margin-left: 1em;
  margin-top: 0.5em;
  width: 85%;
  height: 3em;
  border-radius: 2em;
  border: none;
  outline: none;
  font-family: Open Sans, sans-serif;
  text-align: center;
  font-size: 0.5em;
}

.submit {
  background-color: #717171;
  border: none;
  font-weight: 700;
  color: white;
  font-size: 2.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  margin-left: 2.5em;
  margin-right: 2.5em;
  margin-top: 0.5em;
  border-radius: 0.5em;
  font-family: Open Sans, sans-serif;
}

.goBack {
  background-color: #9a9a9a;
  border: none;
  color: white;
  font-size: 2.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  margin-left: 2.5em;
  margin-right: 2.5em;
  border-radius: 0.5em;
  font-weight: 700;
  font-family: Open Sans, sans-serif;
}
