/* corresponds to time.js */
.time {
  border: 1px dotted #616060;
  background: #35363a;
  float: left;
  font-size: 24px;
  font-weight: bold;
  height: 1.75em;
  margin-right: -1px;
  margin-top: -1px;
  text-align: center;
  transition: 2s ease-in-out;
}

.selected {
  border: 1px dotted #616060;
  float: left;
  font-size: 24px;
  font-weight: bold;
  height: 1.75em;
  margin-right: -1px;
  margin-top: -1px;
  text-align: center;
  animation: kf-color-mix 2s linear infinite alternate;
  background: currentColor;
}

@keyframes kf-color-mix {
  0% {
    color: #df5f9f;
  }
  25% {
    color: #d169c4;
  }
  50% {
    color: #c073ed;
  }
  75% {
    color: #a985eb;
  }
  100% {
    color: #859aeb;
  }
}
