/* corresponds to time.js */
.time {
  border: 1px dotted #616060;
  background: #fff;
  float: left;
  font-size: 24px;
  font-weight: bold;
  height: 1.75em;
  width: 6em;
  margin-right: -1px;
  margin-top: -1px;
  text-align: center;
  transition: 2s ease-in-out;
}

.selected {
  border: 2px solid black;
  float: left;
  font-size: 24px;
  font-weight: bold;
  height: 1.75em;
  width: 6em;
  margin-right: -1px;
  margin-top: -1px;
  text-align: center;
  animation: kf-color-mix 0.5s linear infinite alternate;
  background: currentColor;
}

@keyframes kf-color-mix {
  0% {
    color: #fff192;
  }
  33% {
    color: #ffea61;
  }
  66% {
    color: #ffdd3c;
  }
  100% {
    color: #ffd400;
  }
}
