/* css for week.js */

.calendarContainer {
  margin: auto;
  margin-left: 0;
  float: right;
  background-color: #eeeeee;
  width: 100%;
}

.monthText {
  margin-left: 0.5em;
  margin-bottom: 0.25em;
  margin-top: 0.25em;
  font-size: 5em;
  color: #5e5e5e;
}

.weekContainer {
  margin: auto;
  float: right;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  margin-left: 0;
  overflow: scroll;
  height: 600px;
  width: 100%;
}

.timeLabelTag {
  height: 8em;
  display: flex;
  flex-shrink: 0;
  justify-content: space-around;
  font-size: 1em;
  color: #989898;
  padding-bottom: 0.5em;
  position: sticky;
  top: 0;
}

.timeLabelsContainer {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  background-color: #4c4c4d;
}

.monthContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  background: #12c2e9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.groupName {
  margin: 1em;
  padding: 1em;
}

.noPadding {
  padding: 0 !important;
}
