/* css for home.js */

.page {
  display: flex;
  flex-direction: column;
  float: right;
  width: 100%;
}

.nav {
  padding: 10px;
  background-color: #35363a;
}

.calendar {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.calendarButton {
  background: #12c2e9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #212529 !important;
}

.logoutButton {
  color: #989898 !important;
}

.noPadding {
  padding: 0 !important;
}

.dropDown {
  padding: 0;
  justify-content: flex-start;
}

.dropDown > a {
  color: #989898 !important;
  font-size: 1.5em;
  padding: 0;
  margin-left: 0.5em;
}

.buttonsBlock {
  display: flex;
  position: absolute;
  right: 0;
}
