.groupContainer {
  background-color: #35363a;
  font-weight: 700;
  text-align: center;
  color: white;
}

.title {
  margin: 1em;
}

.groupBox {
  margin-bottom: 1em;
}

.addButton {
  margin-bottom: 1em;
}

.groupScroll {
  overflow-y: scroll;
  height: 29em;
}

.iconContainer {
  display: flex;
  flex-direction: column;
}
