/* styling for icon.js */

.icon {
  margin: 20px;
  width: 100px;
  height: 100px;
  white-space: normal;
  word-wrap: break-word;
  border: none;
}
.selected {
  margin: 20px;
  width: 100px;
  height: 100px;
  white-space: normal;
  word-wrap: break-word;
}
