body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.day-column {
  display: flex;
  flex-direction: column;
}

.status {
  margin-bottom: 10px;
}

.time {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
  fill: black;
}

.timeslot-label {
  display: flex;
  flex-direction: row;
  height: 34px;
  text-align: left;
  padding-left: 2px;
}

.day-tag {
  display: flex;
  flex-direction: column;
}

.square:focus {
  outline: none;
}

.week {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}
.week-container {
  display: flex;
  flex-direction: row;
}

.labels-container {
  display: flex;
  flex-direction: column;
}

.date-num {
  color: black;
  font-weight: bold;
}
