body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0;
}

ol,
ul {
  padding-left: 30px;
}

.day-column {
  display: flex;
  flex-direction: column;
}

.time {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
  fill: black;
}

.day-tag {
  display: flex;
  flex-direction: column;
}

.week {
  display: flex;
  flex-direction: row;
}
.week-container {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  overflow: scroll;
  overflow-x: hidden;
  height: 600px;
}

.labels-container {
  display: flex;
  flex-direction: column;
}

.date-num {
  color: black;
  font-weight: bold;
}

.timeslot {
  line-height: 34px;
  height: 1.75em;
  justify-content: space-between;
  border: 1px solid #c4c4c4;
  border-right: none;
  display: flex;
  row-gap: 1px;
  padding-bottom: 5px;
}
